@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-desktop-background: #ffffff;
  --header-mobile-background: #ffffff;
  --header-desktop-icons: #6e0ad6;
  --header-mobile-icons: #6e0ad6;
  --button-menu: #1a1d23;

  --primary-70: #f0e6ff;
  --primary-80: #c599ff;
  --primary-90: #994dfa;
  --primary-100: #6e0ad6;
  --primary-110: #5c08b2;
  --primary-120: #49078d;
  --primary-130: #37056b;

  --secondary-70: #e2f9d8;
  --secondary-80: #c6f2b1;
  --secondary-90: #a9ec8a;
  --secondary-100: #8ce563;
  --secondary-110: #69ac4a;
  --secondary-120: #467332;
  --secondary-130: #233919;

  --green-70: #c0f2a9;
  --green-90: #4bd60a;

  --slide-inactive-ball: #9d96a7;
  --neutral-light: #aaaaaa;

  --neutral-60: #f5f6f7;
  --neutral-70: #ffffff;
  --neutral-80: #5e6a82;
  --neutral-90: #cfd4dd;
  --neutral-100: #3c4453;
  --neutral-110: #5e6a82;
  --neutral-120: #1d1d1d;
  --neutral-130: #1a1d23;

  --success-border-color: #24a148;

  --placeholder: #8994a9;

  --orange-60: #ffece1;
  --orange-70: #ffdb9a;
  --orange-90: #fa8c4d;
  --orange-100: #ff5e00;
  --orange-110: #ff5000;

  --danger-100: #e22828;

  --error-background-color: #fff5f5;
  --error-border-color: #e22828;
}
